body{
    background-color: #8f99a3;
}
.dashboard{
    border: 5px solid #748898;
    border-radius: 25px;
    background-color: #bcd5ed;
    padding-left: 20px;
    padding-right: 20px;
}
.dashboard h1{
    color: #ffffff;
    text-align: center;
}
.imposters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.imposter{
    background-color: #ffffff;
    padding: 16px 15px;
    color: #ffffff;
    text-shadow:1px 1px 2px black,
                1px 1px 2px #999999;
    background-image: url(./images/amongus.jpg);
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 50px;
    border-radius: 5px;
    background-position: 5px center;
    box-shadow: 2px 2px 3px grey;
    position: relative;
    flex: 0 1 50%;
}
.visible{
    background-color: grey;
}
.visible::after{
    content: 'I Voted';
    position: absolute;
    top:10px; right: 10px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imposters__voting{
    color:white;
    text-shadow: 2px 2px 3px grey;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imposter span{
    display: none;
}